<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>403</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">

	<div class="parent">

		<div class="block">
			<div style="display: flex; display: flex; justify-content:left;">
				<img src="{% static 'regsys/images/error.svg' %}" />
				<p class="text-header-black col-primary-800">На страницу не попасть</p>
			</div>
			<br><br>
			<p class="text-regular col-base-700">Кажется, у тебя недостаточно прав для просмотра этой страницы.
				Проверь, вошел ли ты в аккаунт. А при любых затруднениях можно писать нам - мы ответим на вопросы или
				исправим баги!</p>
			<table>
				<tr>

					<td>
						<form action="{% url 'feedback_anon' %}" method="get">
							<button id="submit" name="submit" type="submit" value="feedback_anon"
								class="primary-button text-label">Рассказать об ошибке</button>
						</form>
					</td>
					<td>
						<form action="{% url 'landing' %}" method="get">
							<button id="submit" name="submit" type="submit" value="landing"
								class="secondary-button text-label">Назад в систему</button>
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>

</html>