<!DOCTYPE html>
<html lang="en-US">
  <head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
    <meta charset="utf-8" />
    <title>reg-sys-cw: завершение</title>
  </head>
  <body>
	<h2>Регистрация завершена успешно</h2>
	<form action="{% url 'download' %}" method="get">
	<input type="text" id="guest_id" name="guest_id" value="{{ guest.id }}" hidden>
	<input type="text" id="event_id" name="event_id" value="{{ event.id }}" hidden>
	<input type="submit" value="Скачать расписание в формате .csv">
	</form>
	<p>{{ guest.name }}, вы зарегистрировались на:</p>
	{% if regs %}
		{% for date, entries in regs.items %}
			<table>
			<caption>{{ event.name }}: {{ date }}</caption>
			{% for entry in entries %}
				<tr>
				<td>{{ entry.category }}</td>
				<td>{{ entry.name }}</td>
				<td>{{ event.place }}, {{ entry.place }}</td>
				<td>{{ entry.host }}</td>
				</tr>
			{% endfor %}	
			</table>
		{% endfor %}
	{% else %}
		<p>:(</p>
	{% endif %}
	<form action="{% url 'register' %}" method="get">
	<input type="submit" value="Круто, верните меня к началу">
	</form>
  </body>
</html>