<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Обратная связь</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">

	{% if messages %}
	<div class="messages text-caption">
		{% for message in messages %}
		<p {% if message.tags %} class="message_{{ message.tags }}" {% endif %}> {{ message }} </p>
		{% endfor %}
	</div>
	{% endif %}

	<form action="{% url 'dispatcher' %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<input type="text" id="guest_id" name="guest_id" value="{{ guest.id }}" hidden>
		<div class="parent">

			<div class="navbar text-label">
				{% for side, links in navbar.items %}
				<div>
					{% if side == "left" %}
					{% for name, link in links.items %}
					<a class="navbar_left" href="{% url link %}">{{ name }}</a>
					{% endfor %}
					{% else %}
					{% for name, link in links.items %}
					{% if name == "Выйти" %}
					<a class="navbar_logout" href="{% url link %}">{{ name }}</a>
					{% else %}
					<a class="navbar_right" href="{% url link %}">{{ name }}</a>
					{% endif %}
					{% endfor %}
					{% endif %}
				</div>
				{% endfor %}
			</div>

			<div class="block">
				<p class="text-header-black col-primary-800">Форма обратной связи</p>
				<p class="text-caption col-base-700">Здесь можно сказать что-то о работе системы регистрации или о
					возникших проблемах. При необходимости мы пришлем ответ на почту, к которой привязан твой аккаунт.
				</p>
				<div class="text-field">
					<label class="text-field__label text-caption" for="subject">Тема сообщения</label>
					{% if subject %}
					<input class="text-field__input text-regular" type="text" id="subject" name="subject" required
						value="{{ subject }}">
					{% else %}
					<input class="text-field__input text-regular" type="text" id="subject" name="subject" required
						placeholder="Про что ты хочешь сказать?">
					{% endif %}
				</div>
				<div class="text-field">
					<label class="text-field__label text-caption" for="message">Сообщение</label><br>
					<textarea class="text-regular" type="text" id="message" name="message" required
						placeholder="Любые вопросы и пожелания по работе системы"></textarea>
				</div>
				<div>
					<label class="text-field__label text-caption" for="attachment">Вложение</label>
					<input class="text-caption" type="file" id="attachment" name="attachment" accept="image/*,.pdf" />
					<span class="text-caption col-base-500">Можно прикрепить изображение или PDF-файл</span>
					</label>
				</div>
				<br><button id="submit" name="submit" type="submit" value="feedback"
					class="primary-button text-label">Отправить</button>
			</div>
		</div>
	</form>
</body>

</html>