<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Обратная связь</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body>
	{% if messages %}
		<div class="messages text-caption">
		{% for message in messages %}
			<p{% if message.tags %} class="message_{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
		</div>
	{% endif %}
	
	<form action="{% url 'dispatcher' %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<input type="text" id="guest_id" name="guest_id" value="{{ guest.id }}" hidden>
		<div class="parent">
		
		<div class="navbar text-body-regular">
		{% for name, link in navbar.items %}
			{% if name == "Обратная связь" %}
				<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
				<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
		{% endfor %}
		</div>
		
			<div class="block">
		<p class="text-h2 col-hse-400">Форма обратной связи</p>
		<p class="text-caption col-base-400">Здесь вы можете оставить комментарии о работе системы</p>
		<div class="text-field">
			<label class="text-field__label text-body-regular" for="email">Ваша электронная почта</label>
			<input class="text-field__input text-caption" type="text" id="email" name="email" disabled
				placeholder="Мы пришлем ответ на эту почту"
				value="{{ guest.user.username }}">
		</div>
		<div class="text-field">
			<label class="text-field__label text-body-regular" for="subject">Тема сообщения</label>
			{% if subject %}
			<input class="text-field__input text-caption" type="text" id="subject" name="subject" required
				value="{{ subject }}">
			{% else %}
			<input class="text-field__input text-caption" type="text" id="subject" name="subject" required
				placeholder="Про что вы хотите сказать?">
			{% endif %}
		</div>
		<div class="text-field">
			<label class="text-field__label text-body-regular" for="message">Сообщение</label><br>
			<textarea class="text-caption" type="text" id="message" name="message" required
				placeholder="Любые вопросы и пожелания касательно работы системы"></textarea>
		</div>
		<div class="text-field">
			<label class="text-field__label text-body-regular" for="attachment">Вложение</label>
			<p class="text-caption col-base-400">Можете прикрепить изображение или PDF-файл</p>
			<input type="file" id="attachment" name="attachment" accept="image/*,.pdf" />
		</div>
		<br><button id="submit" name="submit" type="submit" value="feedback"
			class="primary-button text-button">Отправить</button>
	</div>
</div>
	</form>
</body>

</html>