<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Справка</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">
	{% if messages %}
	<div class="messages text-caption">
		{% for message in messages %}
		<p{% if message.tags %} class="message_{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
	</div>
	{% endif %}

	<div class="parent">

		<div class="navbar text-label">
			{% for side, links in navbar.items %}
			<div>
				{% if side == "left" %}
				{% for name, link in links.items %}
				<a class="navbar_left" href="{% url link %}">{{ name }}</a>
				{% endfor %}
				{% else %}
				{% for name, link in links.items %}
				<a class="navbar_right" href="{% url link %}">{{ name }}</a>
				{% endfor %}
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<div class="block">
			<p class="text-header-black col-primary-800">справка</p>
			<p class=" text-regular col-base-800">Привет! Тут мы постараемся ответить на все вопросы по использованию
				системы. Если останутся вопросы - пиши нам через форму обратной связи, мы обязательно поможем.</p>
			<p class="text-header-semibold col-primary-600">Что это такое?</p>
			<p class="text-regular col-base-700">Это специальная система для мероприятий нижегородской вышки. За
				какое-то время до начала мероприятия организаторы открывают регистрацию - и в личном кабинете системы
				отображается грядущее событие, на которое можно записаться. Система используется для настройки
				расписания каждого участника, для входа на мероприятия и для скачивания сертификатов о посещении.
				Регистрируйся - и все узнаешь.</p>
			<p class="text-header-semibold col-primary-600">Как зарегистрироваться?</p>
			<p class="text-regular col-base-700">В панели наверху есть кнопка "зарегистрироваться". На странице, где ты
				окажешься, будет поле для ввода электронной почты. Важно ввести настоящую почту - она будет нужна, чтобы
				зайти в аккаунт. Мы отправим на почту сгенерированный пароль. Переходи на страницу авторизации ("войти")
				и заходи в аккаунт, указав свою почту и полученный пароль. Хочешь сменить пароль? Это можно будет
				сделать в профиле после регистрации.</p>
			<p class="text-header-semibold col-primary-600">Я уже зарегистрирован. Как мне попасть в личный кабинет?</p>
			<p class="text-regular col-base-700">Посмотри немножко выше - там есть кнопка "войти". На странице
				авторизации будет нужно ввести адрес электонной почты, которую ты использовал при регистрации, и твой
				пароль. Еще один клик - и ты уже в аккаунте.</p>
			<p class="text-header-semibold col-primary-600">Я забыл пароль. Как быть?</p>
			<p class="text-regular col-base-700">На странице входа в аккаунт есть кнопка специально для этого случая.
				Нажимай ее - и попадешь на станицу восстановления пароля. Нужно будет снова указать свою электронную
				почту, а мы придумаем новый пароль и пришлем его тебе. Несколько мгновений - и ты снова можешь
				входить.</p>
			<p class="text-header-semibold col-primary-600">Здесь нет ответа на мой вопрос</p>
			<p class="text-regular col-base-700"> Мы постарались рассказать здесь все, что кажется нам важных для
				пользователей, которые еще не вошли в систему. Если твой вопрос - о регистрации на мероприятие,
				расписании или личном кабинете - заходи в аккаунт и читай справку там, скорее всего, ты найдешь все
				ответы. Если это не так - пиши нам через форму обратной связи, мы поможем!</p>
			<form action="{% url 'feedback_anon' %}" method="get">
				<button id="submit" name="submit" type="submit" value="feedback_anon"
					class="secondary-button text-label">задать еще вопрос</button>
			</form>
			<br><br>
		</div>
	</div>
</body>

</html>