<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Справка</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">
	{% if messages %}
	<div class="messages text-caption">
		{% for message in messages %}
		<p{% if message.tags %} class="message_{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
	</div>
	{% endif %}

	<div class="parent">

		<div class="navbar text-label">
			{% for side, links in navbar.items %}
			<div>
				{% if side == "left" %}
				{% for name, link in links.items %}
				<a class="navbar_left" href="{% url link %}">{{ name }}</a>
				{% endfor %}
				{% else %}
				{% for name, link in links.items %}
				{% if name == "Выйти" %}
				<a class="navbar_logout" href="{% url link %}">{{ name }}</a>
				{% else %}
				<a class="navbar_right" href="{% url link %}">{{ name }}</a>
				{% endif %}
				{% endfor %}
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<div class="block">
			<p class="text-header-black col-primary-800">справка</p>
			<p class=" text-regular col-base-800">Привет! Тут мы постараемся ответить на все вопросы по использованию
				системы. Если останутся вопросы - пиши нам через форму обратной связи, мы обязательно поможем.</p>
			<p class="text-header-semibold col-primary-600">Что это такое?</p>
			<p class="text-regular col-base-700">Раз ты здесь - наверняка ты уже знаешь, но на всякий случай скажем. Это
				специальная система для мероприятий нижегородской вышки. За какое-то время до начала мероприятия
				организаторы открывают регистрацию - и в личном кабинете системы отображается грядущее событие, на
				которое можно записаться. Система используется для настройки расписания каждого участника, для входа на
				мероприятия и для скачивания сертификатов о посещении.</p>
			<p class="text-header-semibold col-primary-600">Как зарегистрироваться на мероприятие?</p>
			<p class="text-regular col-base-700">В панели наверху есть кнопка "мероприятия". На странице, где ты
				окажешься, будет список всех-всех мероприятий, регистрация на которые сейчас открыта. Если их много -
				фильтры в левой части странице помогут подобрать те мероприятия, которые подойдут лично тебе. Что бы
				узнать о мероприятии больше - наведи курсор на его название, и увидишь аннотацию. Приглянулось
				мероприятие - нажимай "хочу сюда" и настраивай свое расписание, выбирая только самые интересные
				тебе активности.</p>
			<p class="text-header-semibold col-primary-600">У меня не получается включить в расписание все, что я хочу
			</p>
			<p class="text-regular col-base-700">Во время некоторых событий мероприятия могут идти параллельно - выбрать
				можно только одно, самое интересное. На некоторые мероприятия места разбирают очень быстро - и
				регистрация закрывается. Присмотрись - может быть, идущее параллельно мероприятие тебе тоже любопытно?
			</p>
			<p class="text-header-semibold col-primary-600">Я зарегистрировался, но не могу найти свое расписание</p>
			<p class="text-regular col-base-700">Все в той же панели сверху есть раздел "мое расписание". Там ты можешь
				просмотреть свои записи и скачать расписание в формате PDF. Там же ты можешь изменить свое расписание,
				если захочется.</p>
			<p class="text-header-semibold col-primary-600">Я не смогу прийти. Что делать?</p>
			<p class="text-regular col-base-700">На странице "Мое расписание" можно удалить регистрацию на мероприятие.
				Пожалуйста, если не сможешь прийти - отмени свою регистрацию. Возможно, кто-то очень хочет прийти, а все
				места уже заняты.</p>
			<p class="text-header-semibold col-primary-600">Что за QR?</p>
			<p class="text-regular col-base-700">Мы используем QR коды для входа на мероприятия. Их сканируют
				организаторы, а система с их помощью помечает, что ты посетил мероприятие. QR код отдельный для каждого
				мероприятия в расписании. Чтобы скачать его, нажимай на кнопку "QR" рядом с мероприятием на странице
				"Мое расписание".</p>
			<p class="text-header-semibold col-primary-600">Где найти сертификат о посещении?</p>
			<p class="text-regular col-base-700">Внизу той же страницы "Мое расписание" ты найдешь список мероприятий,
				которые ты уже посетил. Около каждого - кнопка скачивания сертификата. Если ты хочешь получить
				сертификат - не забывай заполнять личную информацию в профиле и показывать QR при входе (иначе мы не
				узнаем, что ты был на мероприятии, и не сможем его вписать в сертификат).</p>
			<p class="text-header-semibold col-primary-600">На сертификате не показывается мое имя, почему так?</p>
			<p class="text-regular col-base-700">Чтобы мы смогли сделать сертификат правильно, нужно, чтобы ты заполнил
				информацию о себе на странице профиля. Проверь, что она сохранилась - и скачивай сертификат снова.
				Скорее всего, все наладится.</p>
			<p class="text-header-semibold col-primary-600">Как сменить пароль?</p>
			<p class="text-regular col-base-700">Сменить пароль можно на странице профиля. Нужно будет ввести актуальный
				пароль и придумать новый. После смены пароля потребуется снова войти в профиль.</p>
			<p class="text-header-semibold col-primary-600">Как сменить почту?</p>
			<p class="text-regular col-base-700">В настоящий момент мы привязываем все аккаунты к электронной почте, и
				изменить ее нельзя. Если ты потерял доступ к почте или перестал ей пользоваться - лучше просто создать
				новый аккаунт перед следующей регистрацией.</p>
			<p class="text-header-semibold col-primary-600">Еще вопрос!</p>
			<p class="text-regular col-base-700">Остались вопросы или возникли проблемы с системой? Пиши нам через форму
				обратной связи, мы поможем! Ссылка на форму в верхней панели.</p><br><br>
		</div>
	</div>
</body>

</html>