<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Моё расписание</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">
	{% if messages %}
	<div class="messages text-caption">
		{% for message in messages %}
		<p{% if message.tags %} class="message_{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
	</div>
	{% endif %}

	<div class="parent">

		<div class="navbar text-label">
			{% for name, link in navbar.items %}
			{% if name == "Моё расписание" %}
			<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
			<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
			{% endfor %}
		</div>

		<div class="block">
			<p class="text-header-black col-primary-800">Текущее расписание</p>
			{% if regs_future %}
			{% for event, dates in regs_future.items %}
			<span class="text-header-semibold col-primary-600">{{ event.event_name }}</span>
			<table>
				{% for date, entries in dates.items %}
				<table>
					<tr>
						<td class="date-header text-label col-primary-400">{{ date }}</td>
					</tr>
					{% for entry, status in entries.items %}
					<tr>
						<td class="text-regular col-base-600">{{ entry.category }}</td>
						<td class="text-regular col-base-800">{{ entry.timetable_name }}</td>
						<form action="{% url 'qr_generate' %}" method="get">
							<input type="text" id="guest" name="guest" value="{{ guest.id }}" hidden>
							<input type="text" id="timetable" name="timetable" value="{{ entry.id }}" hidden>
							<td><button type="submit" class="secondary-button text-regular" id="submit" name="submit"
									value="qr_generate">QR</button>
							</td>
						</form>
					</tr>
					<tr>
						<td class="text-regular col-base-500">{{ event.place }}, {{ entry.place }}</td>
						<td class="text-regular col-base-500">{{ entry.host }}</td>
						<td class="{{ status }} text-caption col-base-500">{{ status.label }}</td>
					</tr>
					{% endfor %}
				</table>
				{% endfor %}
			</table>
			<br>
			<table>
				<tr>
					<form action="{% url 'download' %}" method="get">
						<input type="text" id="event_key" name="event_key" value="{{ event.id }}" hidden>
						<td><button type="submit" class="primary-button text-label" id="submit" name="submit"
								value="download">Скачать</button>
						</td>
					</form>
					<form action="{% url 'timetable' %}" method="post">
						{% csrf_token %}
						<input type="text" id="event_key" name="event_key" value="{{ event.id }}" hidden>
						<td><button type="submit" class="secondary-button text-label" id="submit" name="submit"
								value="edit">Изменить</button>
						</td>
					</form>
					<form action="{% url 'dispatcher' %}" method="post">
						{% csrf_token %}
						<input type="text" id="event_key" name="event_key" value="{{ event.id }}" hidden>
						<td><button type="submit" class="secondary-button text-label" id="submit" name="submit"
								value="delete">Удалить</button>
						</td>
					</form>
				</tr>
			</table>

			{% endfor %}
			{% else %}
			<p class="text-regular col-base-600">Здесь пока пусто. Переходи на страницу регистрации и выбирай
				мероприятие для себя!</p>
			{% endif %}
			
			<br><br>

			<p class="text-header-black col-primary-800">Прошедшие события</p>
			{% if regs_past %}
			{% for event, dates in regs_past.items %}
			<span class="text-header-semibold col-primary-600">{{ event.event_name }}</span>
			<table>
				{% for date, entries in dates.items %}
					<tr>
						<td class="date-header text-label col-primary-400">{{ date }}</td>
					</tr>
					{% for entry, status in entries.items %}
					<tr>
						<td class="text-regular col-base-600">{{ entry.category }}</td>
						<td class="text-regular col-base-800">{{ entry.timetable_name }}</td>
					</tr>
					<tr>
						<td class="text-regular col-base-500">{{ event.place }}, {{ entry.place }}</td>
						<td class="text-regular col-base-500">{{ entry.host }}</td>
						<td class="{{ status }} text-caption col-base-500">{{ status.label }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
			</table>
					<form action="{% url 'certificate' %}" method="get">
						<input type="text" id="event_key" name="event_key" value="{{ event.id }}" hidden>
						<button type="submit" class="primary-button text-label" id="submit" name="submit"
								value="certificate">Сертификат</button>
					</form>
			{% endfor %}
			{% else %}
			<p class="text-regular col-base-600">Кажется, ты пока не был ни на одном мероприятии.</p>
			{% endif %}
		</div>
	</div>
</body>

</html>