<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>reg-sys-cw: Моё расписание</title>
</head>

<body>
	{% if messages %}
		<div class="messages">
		{% for message in messages %}
			<p{% if message.tags %} class="message_{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
		</div>
	{% endif %}

	<div class="parent">
	
	<div class="navbar">
		{% for name, link in navbar.items %}
			{% if name == "Моё расписание" %}
				<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
				<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
		{% endfor %}
		</div>
	
	<div class="block">
	<p class="text-h2" style="color: #374B9B">Текущее расписание</p>
	{% if regs_future %}
	{% for event, dates in regs_future.items %}
		{% for date, entries in dates.items %}
			<table>
			<span class="text-body-semibold">{{ event.event_name }}: </span><span class="text-body-regular">{{ date }}</span>
			{% for entry, status in entries.items %}
				<form action="{% url 'dispatcher' %}" method="get">
				<tr>
				<td class="text-body-regular">{{ entry.category }} - </td>
				<td class="text-body-regular">{{ entry.timetable_name }}</td>
				<td class="text-body-italic" , style="color: #808080;">&emsp;{{ event.place }}, {{ entry.place }}</td>
				<td class="text-body-italic" , style="color: #808080;">&emsp;{{ entry.host }}</td>
				<td class="{{ status }}">&emsp;{{ status.label }}&emsp;</td>
				<td><button type="submit" class="secondary-button" id="submit" name="submit" value="delete">Удалить</td>
				</tr>
				<input type="text" id="entry_id" name="entry_id" value="{{ entry.id }}" hidden>
				</form>
			{% endfor %}
			</table>
		{% endfor %}
	{% endfor %}
	<br><form action="{% url 'download' %}" method="get">
	<input type="text" id="guest_id" name="guest_id" value="{{ guest.id }}" hidden>
	<input type="submit" class="primary-button" value="Скачать расписание в формате .csv">
	</form>
	{% else %}
	<p class="text-caption" style="color:#808080">Кажется, здесь пока пусто</p>
	{% endif %}
	<br>
	
	<p class="text-h2" style="color: #374B9B">Завершённое расписание</p>
	{% if regs_past %}
	{% for event, dates in regs_past.items %}
		{% for date, entries in dates.items %}
			<table>
			<span class="text-body-semibold">{{ event.event_name }}: </span><span class="text-body-regular">{{ date }}</span>
			{% for entry, status in entries.items %}
				<tr>
				<td class="text-body-regular">{{ entry.category }} - </td>
				<td class="text-body-regular">{{ entry.timetable_name }}</td>
				<td class="text-body-italic" , style="color: #808080;">&emsp;{{ event.place }}, {{ entry.place }}</td>
				<td class="text-body-italic" , style="color: #808080;">&emsp;{{ entry.host }}</td>
				<td class="{{ status }}">&emsp;{{ status.label }}</td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
	{% endfor %}
	{% else %}
	<p class="text-caption" style="color:#808080">Кажется, здесь пока пусто</p>
	{% endif %}
	</div><br>
	</div>
</body>

</html>