<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Профиль</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">
	{% if messages %}
	<div class="messages">
		{% for message in messages %}
		<p{% if message.tags %} class="message_{{ message.tags }} text-caption" {% endif %}>{{ message }}</p>
			{% endfor %}
	</div>
	{% endif %}

	<div class="parent">

		<div class="navbar text-label">
			{% for side, links in navbar.items %}
			<div>
				{% if side == "left" %}
				{% for name, link in links.items %}
				<a class="navbar_left" href="{% url link %}">{{ name }}</a>
				{% endfor %}
				{% else %}
				{% for name, link in links.items %}
				{% if name == "Выйти" %}
				<a class="navbar_logout" href="{% url link %}">{{ name }}</a>
				{% else %}
				<a class="navbar_right" href="{% url link %}">{{ name }}</a>
				{% endif %}
				{% endfor %}
				{% endif %}
			</div>
			{% endfor %}
		</div>

		<div class="blocks_group">
			<div class="block_in_group">
				<form action="{% url 'dispatcher' %}" method="post">
					{% csrf_token %}
					<p class="text-header-black col-primary-800">Данные для входа:</p>
					<div class="text-field">
						<label class="text-field__label text-caption" for="email">электронная почта</label>
						<input class="text-field__input text-regular" type="text" id="email" name="email" disabled
							placeholder="{{ guest.user.username }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="old">старый пароль</label>
						<input class="text-field__input text-regular" type="password" id="old" name="old"
							placeholder="Введи старый пароль">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="new">новый пароль</label>
						<input class="text-field__input text-regular" type="password" id="new" name="new"
							placeholder="Придумай новый пароль">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="repeat">новый пароль (снова)</label>
						<input class="text-field__input text-regular" type="password" id="repeat" name="repeat"
							placeholder="Твой новый пароль - ещё раз">
					</div>
					<p class="text-caption col-base-500">Пароль должен содержать как минимум 8 символов, одну заглавную
						букву и
						одну цифру</p>
					<p class="text-caption col-base-500">После изменения пароля потребуется заново зайти в профиль</p>
					<table>
						<tr>
							<td><button type="submit" id="submit" name="submit" class="primary-button text-label"
									value="edit_creds">Изменить пароль</button>
							</td>
						</tr>
					</table>
				</form>
			</div>

			<div class="block_in_group">
				<form action="{% url 'dispatcher' %}" method="post">
					{% csrf_token %}
					<p class="text-header-black col-primary-800">Личная информация:</p>
					<div class="text-field">
						<label class="text-field__label text-caption" for="surname">фамилия</label>
						<input class="text-field__input text-regular" type="text" id="surname" name="surname"
							placeholder="{{ guest.surname }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="firstname">имя</label>
						<input class="text-field__input text-regular" type="text" id="firstname" name="firstname"
							placeholder="{{ guest.firstname }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="patronymic">отчество</label>
						<input class="text-field__input text-regular" type="text" id="patronymic" name="patronymic"
							placeholder="{{ guest.patronymic }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="school">место обучения</label>
						<input class="text-field__input text-regular" type="text" id="school" name="school"
							placeholder="{{ guest.school }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="phone">телефон</label>
						<input class="text-field__input text-regular" type="text" id="phone" name="phone"
							placeholder="{{ guest.phone }}">
					</div>
					<div class="text-field">
						<label class="text-field__label text-caption" for="telegram">телеграм</label>
						<input class="text-field__input text-regular" type="text" id="telegram" name="telegram"
							placeholder="{{ guest.telegram }}">
					</div>
					<button type="submit" id="submit" name="submit" class="primary-button text-label"
						value="edit_info">Сохранить</button><br><br>
				</form>
			</div>
		</div>
	</div>
</body>

</html>