<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>reg-sys-cw: Настройки</title>
</head>

<body>
	<div class="parent">
	
	<div class="navbar">
		{% for name, link in navbar.items %}
			{% if name == "Моё расписание" %}
				<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
				<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
		{% endfor %}
		</div>
	
		<div class="block">
	<form action="{% url 'dispatcher' %}" method="get">
		<button type="submit" id="submit" name="submit" value="signout" class="secondary-button">Выйти из профиля</button>
	</form>
		</div>
</body>

</html>