<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>reg-sys-cw: Создание профиля</title>
</head>

<body>
	{% if messages %}
		<div class="messages">
		{% for message in messages %}
			<p{% if message.tags %} class="message_{{ message.tags }}"{% endif %}>{{ message }}</p>
		{% endfor %}
		</div>
	{% endif %}
	
	<form action="{% url 'personal' %}" method="post">
		{% csrf_token %}
		<div class="parent">
		
		<div class="navbar">
		{% for name, link in navbar.items %}
			{% if name == "Создание профиля" %}
				<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
				<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
		{% endfor %}
		</div>
		
			<div class="block">
		<p class="text-h2" style="color:#374B9B">Данные для входа</p>
		<div class="text-field">
			<label class="text-field__label" for="email">Электронная почта</label>
			<input class="text-field__input" type="text" id="email" name="email" required
				placeholder="Введите ваш адрес электронной почты">
		</div>
		<div class="text-field">
			<label class="text-field__label" for="password">Пароль</label>
			<input class="text-field__input" type="password" id="password" name="password" required
				placeholder="Введите пароль, который будете использовать">
		</div>
		<div class="text-field">
			<label class="text-field__label" for="repeat">Повторите пароль</label>
			<input class="text-field__input" type="password" id="repeat" name="repeat" required
				placeholder="Введите пароль, который будете использовать">
		</div>
		<br><button id="submit" name="submit" type="submit" value="to_personal"
			class="primary-button">Продолжить</button>
	</div>
</div>
	</form>

</body>

</html>