<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>Создание аккаунта</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">
	{% if messages %}
	<div class="messages text-caption">
		{% for message in messages %}
		<p{% if message.tags %} class="message_{{ message.tags }}" {% endif %}>{{ message }}</p>
			{% endfor %}
	</div>
	{% endif %}

	<form action="{% url 'dispatcher' %}" method="post">
		{% csrf_token %}
		<div class="parent">

			<div class="navbar text-label">
				{% for side, links in navbar.items %}
				<div>
					{% if side == "left" %}
					{% for name, link in links.items %}
					<a class="navbar_left" href="{% url link %}">{{ name }}</a>
					{% endfor %}
					{% else %}
					{% for name, link in links.items %}
					<a class="navbar_right" href="{% url link %}">{{ name }}</a>
					{% endfor %}
					{% endif %}
				</div>
				{% endfor %}
			</div>

			<div class="block">
				<p class="text-header-black col-primary-800">Регистрация</p>
				<div class="text-field">
					<label class="text-field__label text-caption" for="email">Электронная почта</label>
					<input class="text-field__input text-regular" type="text" id="email" name="email" required
						placeholder="Введите ваш адрес электронной почты">
				</div>
				<p class="text-caption col-base-500">На введённый вами адрес будет направлен пароль, который вы сможете
					изменить после входа в профиль.</p>
				<button id=" submit" name="submit" type="submit" value="signup"
					class="primary-button text-label">Создать
					профиль</button>
			</div>
		</div>
	</form>

</body>

</html>