<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>reg-sys-cw: Уточнение расписания</title>
</head>

<body>
	<form action="{% url 'completed' %}" method="post">
		{% csrf_token %}
		<input type="text" id="event_id" name="event_id" value="{{ event_id }}" hidden>
		<div class="parent">
		
		<div class="navbar">
		{% for name, link in navbar.items %}
			{% if name == "Зарегистрироваться" %}
				<a class="navbar_current" href="{% url link %}">{{ name }}</a>
			{% else %}
				<a class="navbar_link" href="{% url link %}">{{ name }}</a>
			{% endif %}
		{% endfor %}
		</div>
		
			<div class="block">
		<p class="text-h1" style="color:#0F2D69">Уточнение расписания</p>
		<p class="text-h2" style="color: #374B9B">Выберите, какие из следующих мероприятий вы хотели бы посетить.</p>
		<p class="text-caption" style="color:#808080">Будьте внимательны! Некоторые мероприятия идут одновременно - выбрать можно только одно. А еще, некоторые из них повторяются в разное время.</p>
		{% if timetable %}
		{% for date, cats in timetable.items %}
		<fieldset>
			<legend class="text-body-semibold" style="color: #374B9B">{{ date }}</legend>
			{% for cat, entries in cats.items %}
			<div>
				<p class="text-body-semibold" style="color: #0F2D69">{{ cat }}</p>
				{% for entry in entries %}
				{% if entry.seats == 0 %}
				<input type="radio" id="entry_{{ entry.id }}" name="category_{{ cat }}" value="{{ entry.id }}" disabled>
				{% else %}
				<input type="radio" id="entry_{{ entry.id }}" name="category_{{ cat }}" value="{{ entry.id }}">
				{% endif %}
				<div class="tooltip">
					<p class="text-body-semibold" style="color: #0F2D69">{{ entry.timetable_name }}</p>
					<span class="tooltiptext">{{ entry.annotation }}<span>
				</div><br>
				<span style="color:#808080"><span class="text-body-semibold">Место: </span><span class="text-body-regular">{{ entry.place}}</span>&emsp;<span class="text-body-semibold">Ведущий: </span><span
						class="text-body-regular">{{ entry.host }}</span>&emsp; <span class="text-body-semibold">Свободных мест: </span>
					{% if entry.seats < 0 %} <span class="text-body-regular">не ограничено</span>
				{% else %}
				<span class="text-body-regular">{{ entry.seats }}</span>
				{% endif %}
				{% if entry.repeating %}
				<span class="text-caption" style="color:#808080">&emsp;(Мероприятие также проводится в другое время)</span>
				{% endif %}
				<br><br>
				{% endfor %}
			</div>
			{% endfor %}
		</fieldset>
		{% endfor %} <br>
		<button type="submit" id="submit" name="submit" class="primary-button" value="to_completed">Завершить регистрацию</button>
		{% else %}
		<p class="text-body-regular" style="color: #E61E3C;">Кажется, вы не выбрали ни одного дня для регистрации. Попробуйте снова!</p>
		{% endif %}
			</div>
		</div>
	</form>
</body>

</html>