/* 
В этом файле хранятся все стили проекта: текстовые, цветовые и т.д., а также стилизации всех необходимых элементов - 
*/

/* 
Шрифты. 
В этом разделе подгружаются различные начертания шрифта Hse Sans, если он недоступен, используется Roboto.
*/

/* Regular */
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-Regular.woff2') format('woff2'),
    url('./fonts/HSESans-Regular.woff') format('woff'),
    url('./fonts/HSESans-Regular.otf') format('otf'),
    url('./fonts/HSESans-Regular.eot') format('eot');
}

/* Bold */
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-Bold.woff2') format('woff2'),
    url('./fonts/HSESans-Bold.woff') format('woff'),
    url('./fonts/HSESans-Bold.otf') format('otf'),
    url('./fonts/HSESans-Bold.eot') format('eot');
}

/* Italic */
@font-face {
  font-family: 'HSE Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-Italic.woff2') format('woff2'),
    url('./fonts/HSESans-Italic.woff') format('woff'),
    url('./fonts/HSESans-Italic.otf') format('otf'),
    url('./fonts/HSESans-Italic.eot') format('eot');
}

/* SemiBold */
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-SemiBold.woff2') format('woff2'),
    url('./fonts/HSESans-SemiBold.woff') format('woff'),
    url('./fonts/HSESans-SemiBold.otf') format('otf'),
    url('./fonts/HSESans-SemiBold.eot') format('eot');
}

/* Thin */
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-Thin.woff2') format('woff2'),
    url('./fonts/HSESans-Thin.woff') format('woff'),
    url('./fonts/HSESans-Thin.otf') format('otf'),
    url('./fonts/HSESans-Thin.eot') format('eot');
}

/* Black */
@font-face {
  font-family: 'HSE Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('HSE Sans'),
    url('./fonts/HSESans-Black.woff2') format('woff2'),
    url('./fonts/HSESans-Black.woff') format('woff'),
    url('./fonts/HSESans-Black.otf') format('otf'),
    url('./fonts/HSESans-Black.eot') format('eot');
}

/* 
После подгрузки шрифтов создаем соответствующие им стили.
*/
.text-body-regular {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.text-body-semibold {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.text-body-italic {
  font-family: 'HSE Sans', Roboto;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.text-body-underline {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
}

.text-button {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.text-caption {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.text-h1 {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
}

.text-h2 {
  font-family: 'HSE Sans', Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}


/*
  Создаем цветовые стили для необходимых в отдельности от элементов цветов.
*/
.col-hse-500{
  color: #0F2D69;
}
.col-hse-400{
  color: #374B9B;
}
.col-base-500{
  color: #1F1F1F;
}
.col-base-400{
  color: #808080;
}
.col-error{
  color: #E61E3C;
}


/*
Задаем базовые настройки для различных информационных блоков.
*/
.parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;   
}

.block {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
}


/*
Настраиваем навбар - положение, цвета, состояния.
*/
.navbar {
  position: fixed;
  top: 0%;
  left: 2%;
  width: auto;
  height: 48px;
}

a:link, a:visited  {
  padding: 16px;  
  display: inline-block;
  color: #374B9B;
  text-decoration: none;
}

a:hover, a:active {
  color: #0F2D69;
}


/*
Настраиваем фильтрбар - он нужен будет для фильтрации мероприятий при регистрации.
*/
.filterbar {
  position: fixed;
  top: 64px;
  left: 2%;
  height: auto;
  width: 256px;
  padding: 16px;
}

/*
Здесь про сообщения - всплывающие оповещения при успешном выполнении действий, ошибках и предупреждениях.
Настраиваем их позицию и цвета.
*/
.messages {
  position: fixed;
  bottom: 2px;
}

.message_error {
	color: #E61E3C;
  background-color: #ffecf0;
  border: 0px;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right:8px;
}

.message_warning {
	color: #FAB900;
  background-color: #FEF9E1;
  border: 0px;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right:8px;
}

.message_success {
	color: #009B64;
  background-color: #E5F4ED;
  border: 0px;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}


/*
Настраиваем кнопки - главную и второстепенные + различные состояния.
*/
.primary-button {
  min-width: 100px;
  cursor: pointer;
  appearance: none;
  border: 0;
  border-radius: 8px;
  background: #374B9B;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.primary-button:hover {
  background: #4a5b9e;
}

.primary-button:disabled {
  background: #808080;
  cursor: not-allowed;
}

.secondary-button {
  min-width: 100px;
  cursor: pointer;
  appearance: none;
  border: 0px;
  border-radius: 8px;
  color: #374B9B;
  background-color: #E6E6E6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.secondary-button:hover {
  background-color: #F2F4FF;
}

.secondary-button:disabled {
  color: #808080;
  cursor: not-allowed;
}


/*
Здесь стили для инпутов.
*/
.text-field {
  margin-bottom: 16px;
}

.text-field__input {
  min-width: 400px;
  display: block;
  height: calc(2rem + 2px);
  padding-top: 4px;
  padding-top: 4px;
  padding-left: 8px;
  padding-left: 8px;
  background-color: #E6E6E6;
  border-radius: 8px;
  border: 0px;
  margin-top: 4px;
  color: #374B9B;
}

.text-field__input::placeholder {
  color: #808080;
}

.text-field__input:disabled {
  background: #BFBFBF;
  margin-top: 4px;
}

.text-field__input:focus {
  outline: 0;
  caret-color: #374B9B;
  color: #374B9B;
}

.text-field__input:hover {
  background-color: #F2F4FF;
}

.text-field__label {
  color:#808080;
}

/*
А здесь - для поля ввода большого.
*/
textarea{
  min-width: 400px;
  min-height: 256px;
  display: block;
  padding-top: 4px;
  padding-top: 4px;
  padding-left: 8px;
  padding-left: 8px;
  background-color: #E6E6E6;
  border-radius: 8px;
  border: 0px;
  margin-top: 4px;
  color: #374B9B;
}

textarea::placeholder {
  color: #808080;
}

textarea:disabled {
  background: #BFBFBF;
  margin-top: 4px;
}

textarea:focus {
  outline: 0;
  caret-color: #374B9B;
  color: #374B9B;
}

textarea:hover {
  background-color: #F2F4FF;
}

/*
Здесь настраиваются чекбоксы.
*/
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
  border-radius: 4px;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
  left: 3px;
  top: 5px;
  width: 12px;
  height: 6px;
  border-radius: 1px;
  border-left: 3px solid #374B9B;
  border-bottom: 3px solid #374B9B;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
}

input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

input[type="checkbox"]:hover{
  background-color: #F2F4FF;
}

/* 
Стили для fieldset - он нам нужен для полей расписания.
*/
fieldset
{
  border-radius: 4px;
  border: 0px;
}
.legend1
{
  margin-bottom:16px;
  margin-left:16px;
}

/* 
Тут настариваем тултипы.
*/
.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  color: #808080;
  width: fit-content;
  max-width: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* 
Стили для table - они нам нужны, чтобы красиво выводить готовое расписание.
*/
td {
	padding-right: 20px;
}

.date-header {
	text-align: center;
	padding-top: 20px;
}