<!DOCTYPE html>
<html lang="en-US">

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'regsys/style.css' %}">
	<meta charset="utf-8" />
	<title>403</title>
	<link rel="icon" href="{% static 'regsys/images/favicon.png' %}" type="image/png">
</head>

<body class="background">

		<div class="parent">

			<div class="block">
				<p class="text-header-black col-primary-800">Доступ запрещён :(</p>
				<p class="text-regular col-base-700">Кажется, у вас недостаточно прав для просмотра этой страницы.</p>
			</div>
		</div>
</body>

</html>